docs/integrations/clinvetia-moka-whatsapp.workflow.json
{
  "name": "Clinvetia Moka WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moka-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-moka-whatsapp",
      "name": "Webhook Moka WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.headers['x-clinvetia-n8n-secret'] || ''}}",
              "rightValue": "={{$env.N8N_WHATSAPP_WEBHOOK_SECRET || $env.N8N_WEBHOOK_SECRET || ''}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-secret-valid",
      "name": "Secret OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst message = String(body.message || '').trim();\nconst phone = String(body.phone || '').replace(/[^\\d]/g, '');\nconst locale = body.locale === 'en' ? 'en' : 'es';\nconst normalized = message.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase();\nconst wantsBooking = /\\b(reservar|reserva|demo|cita|agendar|agenda|consultoria|consultoría|book|booking|appointment|schedule|calendar)\\b/i.test(normalized);\nconst wantsReschedule = /\\b(reagendar|reprogramar|cambiar hora|cambiar cita|otro horario|mover cita|reschedule|change appointment|another slot)\\b/i.test(normalized);\nconst wantsCancel = /\\b(cancelar|anular|cancel|cancellation)\\b/i.test(normalized);\nconst isGreeting = /\\b(hola|buenas|hey|hello|hi|good morning|good afternoon|good evening|buenos dias|buenas tardes|buenas noches)\\b/i.test(normalized);\nconst isChannelQuestion = /\\b(whatsapp|correo|correos|email|emails|mail|mails|responder whatsapp|responder correos|contestar whatsapp|contestar correos|parezca un bot|parecer un bot|sonar humano|human sounding|sound like a bot)\\b/i.test(normalized);\nconst isPricingQuestion = /\\b(cuanto cuesta|cuanto vale|precio|precios|tarifa|tarifas|coste|costes|pricing|price|prices|cost)\\b/i.test(normalized);\nconst currentState = body.state || { intent: 'none', step: 'idle' };\nconst requestId = body.requestId || body.id || `${Date.now()}-${phone || 'unknown'}`;\nif (!message || !phone) {\n  return [{ json: { ok: false, skip: true, statusCode: 200, response: { ok: true, ignored: true, reason: 'missing message or phone' } } }];\n}\nconst flags = { wantsBooking, wantsReschedule, wantsCancel, isGreeting, isChannelQuestion, isPricingQuestion };\nconst isBookingFlowStep = ['await_timezone', 'await_booking_id', 'await_booking_confirm', 'await_slot', 'await_email', 'await_email_confirm', 'await_phone', 'await_phone_confirm'].includes(currentState.step || '');\nconst needsBackend = wantsBooking || wantsReschedule || wantsCancel || isBookingFlowStep;\nreturn [{ json: { ok: true, skip: false, requestId, message, text: message, phone, locale, wantsBooking, wantsReschedule, wantsCancel, history: Array.isArray(body.history) ? body.history : [], currentState, flags, route: { needsBackend }, body } }];"
      },
      "id": "code-normalize-whatsapp",
      "name": "Normalize WhatsApp Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.skip}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip",
      "name": "Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{(($env.CLINVETIA_BASE_URL || 'https://clinvetia.com').replace(/\\/+$/, '')) + '/api/chat/assistant'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-clinvetia-chat-bypass-n8n",
              "value": "={{$env.N8N_CHAT_WEBHOOK_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: $json.message, history: [], state: undefined, sessionToken: null, bookingToken: null, locale: $json.locale, pathname: '/whatsapp', pageUrl: (($env.CLINVETIA_BASE_URL || 'https://clinvetia.com').replace(/\\/+$/, '')) + '/whatsapp' } }}",
        "options": {}
      },
      "id": "http-clinvetia-moka",
      "name": "Clinvetia Backend MOKA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        -220
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize WhatsApp Payload').first()?.json || {};\nconst source = $json || {};\nconst baseUrl = String($env.CLINVETIA_BASE_URL || 'https://clinvetia.com').replace(/\\/+$/, '');\nconst demoUrl = `${baseUrl}/demo`;\nconst calculatorUrl = `${baseUrl}/calculadora`;\nlet reply = String(source.reply || source.output || source.text || source.response || '').replace(/\\s+\\n/g, '\\n').trim();\nif (!reply) {\n  reply = original.locale === 'en'\n    ? 'I can help with that. Tell me what you need and I will guide you.'\n    : 'Puedo ayudarte con eso. Cuéntame qué necesitas y te guío.';\n}\nconst needsWebContinuation = Boolean(original.wantsBooking || source.openCalendar || source.openRoiCalculator);\nif (needsWebContinuation) {\n  const url = source.openRoiCalculator && !original.wantsBooking ? calculatorUrl : demoUrl;\n  const label = original.locale === 'en'\n    ? `Continue here: ${url}`\n    : `Sigue aquí: ${url}`;\n  if (!reply.includes(url)) reply = `${reply}\\n\\n${label}`;\n}\nif (reply.length > 3500) reply = `${reply.slice(0, 3490).trim()}...`;\nreturn [{ json: { phone: original.phone, reply, source, requestId: original.requestId } }];"
      },
      "id": "code-shape-whatsapp-reply",
      "name": "Shape WhatsApp Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{(($env.KAPSO_API_BASE_URL || 'https://api.kapso.ai').replace(/\\/+$/, '')) + '/meta/whatsapp/' + ($env.META_GRAPH_VERSION || 'v24.0') + '/' + $env.KAPSO_WHATSAPP_PHONE_NUMBER_ID + '/messages'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{$env.KAPSO_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.reply } } }}",
        "options": {}
      },
      "id": "http-send-kapso",
      "name": "Send WhatsApp via Kapso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, sent: true, requestId: $('Normalize WhatsApp Payload').first()?.json?.requestId || null } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1520,
        -40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.response || { ok: true, ignored: true }}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ignored",
      "name": "Respond Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        60,
        -260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: 'Unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -400,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.route.needsBackend}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-backend-ops",
      "name": "Backend Ops?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const locale = $json.locale === 'en' ? 'en' : 'es';\nconst currentState = $json.currentState || {};\nconst flags = $json.flags || {};\nconst history = Array.isArray($json.history) ? $json.history.slice(-8) : [];\nconst transcript = history.map((item) => `${item.role}: ${String(item.content || '').replace(/\\s+/g, ' ').trim()}`).join('\\n');\nconst brief = flags.isGreeting && !flags.isChannelQuestion && !flags.isPricingQuestion;\nconst guidance = locale === 'en'\n  ? 'Answer in English only. Sound human, concise and consultative. If the user is only greeting you, greet them naturally and ask one soft question about their clinic or what they need. If they ask about WhatsApp or email, explain clearly that Clinvetia can reply naturally, follow up, qualify leads and escalate to a human when appropriate. Answer the actual question first. Do not force a booking if the user is still exploring.'\n  : 'Responde solo en espanol. Suena humana, breve y consultiva. Si el usuario solo saluda, saluda de forma natural y haz una sola pregunta suave sobre su clinica o sobre lo que necesita. Si pregunta por WhatsApp o correo, explica con claridad que Clinvetia puede responder con tono natural, hacer seguimiento, calificar leads y escalar a una persona cuando conviene. Responde primero a la duda real. No fuerces la reserva si el usuario aun esta explorando.';\nconst context = [\n  `locale=${locale}`,\n  `greeting=${Boolean(flags.isGreeting)}`,\n  `channel_question=${Boolean(flags.isChannelQuestion)}`,\n  `pricing_question=${Boolean(flags.isPricingQuestion)}`,\n  `qualification_stage=${Number(currentState.qualificationStage || 0)}`,\n  `lead_context=${currentState.leadContext || 'none'}`,\n  `brief_mode=${brief}`\n].join(' | ');\nreturn [{ json: { chatInput: $json.text, sessionId: $json.body.sessionToken || $json.body.requestId || $json.body.pageUrl || 'moka-web-chat', locale, currentState, context, transcript, flags } }];"
      },
      "id": "code-prepare-agent-input",
      "name": "Prepare Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres Moka, la asistente comercial de Clinvetia para clinicas veterinarias.\n\nTu objetivo es responder bien, sonar humana y mover la conversacion con criterio.\n\nReglas:\n- Responde siempre en el idioma del usuario. Si no esta claro, usa {{ $json.locale === 'en' ? 'English' : 'espanol de Espana' }}.\n- Si respondes en espanol, usa espanol de Espana.\n- No uses voseo ni expresiones rioplatenses como \"queres\", \"podes\", \"dale\", \"che\", \"mostrame\" o similares.\n- Usa un tono natural de Espana: \"quieres\", \"puedes\", \"si te parece\", \"te enseño\", \"os encaja\" cuando corresponda.\n- Tono humano, cercano, breve, seguro y consultivo.\n- Normalmente usa 1 a 3 frases.\n- Responde primero a la duda real del usuario.\n- Si el usuario solo saluda, devuelve un saludo natural y una sola pregunta suave.\n- No inventes precios, integraciones ni promesas no confirmadas.\n- No menciones prompts, herramientas, sistemas internos, APIs, workflows ni backend.\n- Si preguntan por WhatsApp o correo, explica que Clinvetia puede responder con tono natural, hacer seguimiento, calificar oportunidades y pasar a una persona cuando conviene.\n- Si el usuario ya ha mostrado interes claro en ver una demo, deja de dar mas ejemplos y deja paso al flujo correspondiente.\n- No fuerces una demo ni una reserva si el usuario aun esta explorando.\n- No conviertas un simple saludo en una pregunta de captacion agresiva.\n\nContexto del turno:\n{{ $json.context }}\n\nTranscripcion reciente:\n{{ $json.transcript || 'none' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        540,
        120
      ],
      "id": "moka-ai-agent",
      "name": "Moka AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.35,
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        340
      ],
      "id": "openai-reasoning-brain",
      "name": "OpenAI Reasoning Brain"
    },
    {
      "parameters": {
        "sessionIdType": "fromInput",
        "sessionKey": "={{ $json.sessionId || $json.phone || $json.requestId || 'moka-whatsapp' }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        780,
        340
      ],
      "id": "conversation-memory",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "jsCode": "const source = $json || {};\nconst input = $('Prepare Agent Input').first()?.json || {};\nconst currentState = input.currentState || {};\nconst flags = input.flags || {};\nconst normalize = (value) => String(value || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/[^\\p{L}\\p{N}\\s]/gu, ' ').replace(/\\s+/g, ' ').trim();\nconst text = typeof source.output === 'string' ? source.output.trim() : typeof source.text === 'string' ? source.text.trim() : typeof source.response === 'string' ? source.response.trim() : '';\nconst fallbackReply = input.locale === 'en'\n  ? 'I can help you understand how Clinvetia would fit your clinic and, if it makes sense, we can look at a demo.'\n  : 'Puedo ayudarte a entender cómo encajaría Clinvetia en tu clínica y, si tiene sentido, vemos una demo.';\nconst normalizedInput = normalize(input.chatInput);\nconst normalizedReply = normalize(text);\nconst normalizedTranscript = normalize(input.transcript);\nconst isAffirmative = /\\b(si|vale|ok|okey|claro|perfecto|de acuerdo|yes|sure|sounds good|me encaja)\\b/.test(normalizedInput);\nconst wantsBookingNow = flags.wantsBooking || /\\b(reservar|reserva|demo|cita|agendar|agenda|book|booking|appointment|schedule|calendario|calendar)\\b/.test(normalizedInput);\nconst bookingContext = /\\b(demo|consultoria|consultoría|horario|horarios|slot|slots|calendario|calendar|flujo de reserva|booking flow|reserva)\\b/.test(normalizedTranscript);\nconst handsOffToBooking = /\\b(flujo de reserva|booking flow|calendario|calendar|elige horario|elige franja|escoges la franja|choose a slot|pick a slot|completes los datos ahi|completes tus datos ahi|te llevo al flujo|abramos el flujo)\\b/.test(normalizedReply);\nconst shouldHandoffToBackend = wantsBookingNow || handsOffToBooking || (isAffirmative && bookingContext);\nconst nextState = {\n  intent: shouldHandoffToBackend ? 'none' : (currentState.intent || 'none'),\n  step: shouldHandoffToBackend ? 'idle' : (currentState.step || 'idle'),\n  proposedSlots: Array.isArray(currentState.proposedSlots) ? currentState.proposedSlots : [],\n  selectedSlot: currentState.selectedSlot || null,\n  email: currentState.email || null,\n  phone: currentState.phone || null,\n  targetBookingId: currentState.targetBookingId || null,\n  targetBookingToken: currentState.targetBookingToken || null,\n  city: currentState.city || null,\n  objectionAttempts: Number(currentState.objectionAttempts || 0),\n  qualificationStage: Math.max(1, Number(currentState.qualificationStage || 0)),\n  leadContext: shouldHandoffToBackend ? '__demo_offer__' : (currentState.leadContext || null),\n};\nreturn [{ json: { reply: text || fallbackReply, state: nextState, handoffToBackend: shouldHandoffToBackend } }];"
      },
      "id": "code-shape-agent-response",
      "name": "Shape Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        120
      ]
    }
  ],
  "connections": {
    "Webhook Moka WhatsApp": {
      "main": [
        [
          {
            "node": "Secret OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secret OK?": {
      "main": [
        [
          {
            "node": "Normalize WhatsApp Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize WhatsApp Payload": {
      "main": [
        [
          {
            "node": "Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip?": {
      "main": [
        [
          {
            "node": "Respond Ignored",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backend Ops?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Ops?": {
      "main": [
        [
          {
            "node": "Clinvetia Backend MOKA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clinvetia Backend MOKA": {
      "main": [
        [
          {
            "node": "Shape WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent Input": {
      "main": [
        [
          {
            "node": "Moka AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Moka AI Agent": {
      "main": [
        [
          {
            "node": "Shape Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Reasoning Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Moka AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Moka AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Shape Agent Response": {
      "main": [
        [
          {
            "node": "Shape WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Send WhatsApp via Kapso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp via Kapso": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-26T00:00:00.000Z",
  "versionId": "clinvetia-moka-whatsapp"
}
