docs/integrations/clinvetia-moka-chat.json
{
  "name": "Clinvetia Moka Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moka-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-moka-chat",
      "name": "Webhook Moka Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.headers['x-clinvetia-n8n-secret'] || ''}}",
              "rightValue": "={{$env.N8N_CHAT_WEBHOOK_SECRET || ''}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-secret-valid",
      "name": "Secret OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -760,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst text = String(body.message || '').trim();\nconst lower = text.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst state = body.state || {};\nconst currentState = {\n  intent: state.intent || 'none',\n  step: state.step || 'idle',\n  proposedSlots: Array.isArray(state.proposedSlots) ? state.proposedSlots : [],\n  selectedSlot: state.selectedSlot || null,\n  email: state.email || null,\n  phone: state.phone || null,\n  targetBookingId: state.targetBookingId || null,\n  targetBookingToken: state.targetBookingToken || null,\n  city: state.city || null,\n  objectionAttempts: Number(state.objectionAttempts || 0),\n  qualificationStage: Number(state.qualificationStage || 0),\n  leadContext: state.leadContext || null,\n};\nconst flags = {\n  wantsBooking: /\\b(reservar|reserva|demo|cita|agendar|agenda|book|booking|appointment|schedule|calendario|calendar)\\b/i.test(lower),\n  wantsReschedule: /\\b(reagendar|reprogramar|cambiar hora|cambiar cita|otro horario|mover cita|mover mi cita|move it|reschedule|change appointment|another slot)\\b/i.test(lower),\n  wantsCancel: /\\b(cancelar|anular|dar de baja|elimina mi cita|quita mi cita|cancel|cancellation)\\b/i.test(lower),\n  isGreeting: /\\b(hola|buenas|hey|hello|hi|good morning|good afternoon|good evening|buenos dias|buenas tardes|buenas noches)\\b/i.test(lower),\n  isChannelQuestion: /\\b(whatsapp|correo|correos|email|emails|mail|mails|responder whatsapp|responder correos|contestar whatsapp|contestar correos|parezca un bot|parecer un bot|sonar humano|human sounding|sound like a bot)\\b/i.test(lower),\n  isPricingQuestion: /\\b(cuanto cuesta|cuanto vale|precio|precios|tarifa|tarifas|coste|costes|pricing|price|prices|cost)\\b/i.test(lower),\n};\nconst isBookingFlowStep = ['await_timezone', 'await_booking_id', 'await_booking_confirm', 'await_slot', 'await_email', 'await_email_confirm', 'await_phone', 'await_phone_confirm'].includes(currentState.step || '');\nconst needsBackend = flags.wantsBooking || flags.wantsReschedule || flags.wantsCancel || isBookingFlowStep;\nreturn [{ json: { body, text, lower, locale: body.locale || 'es', history: Array.isArray(body.history) ? body.history : [], currentState, flags, route: { needsBackend } } }];"
      },
      "id": "code-normalize-payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.route.needsBackend}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-backend-ops",
      "name": "Backend Ops?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{(($env.CLINVETIA_BASE_URL || 'http://127.0.0.1:3000').replace(/\\/+$/, '')) + '/api/chat/assistant'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-clinvetia-chat-bypass-n8n",
              "value": "={{$env.N8N_CHAT_WEBHOOK_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: $json.body.message, history: $json.body.history || [], state: $json.body.state || undefined, sessionToken: $json.body.sessionToken || null, bookingToken: $json.body.bookingToken || null, locale: $json.body.locale || 'es', pathname: $json.body.pathname || null, pageUrl: $json.body.pageUrl || null } }}",
        "options": {}
      },
      "id": "http-backend-chat",
      "name": "Clinvetia Backend Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "const locale = $json.locale === 'en' ? 'en' : 'es';\nconst currentState = $json.currentState || {};\nconst flags = $json.flags || {};\nconst history = Array.isArray($json.history) ? $json.history.slice(-8) : [];\nconst transcript = history.map((item) => `${item.role}: ${String(item.content || '').replace(/\\s+/g, ' ').trim()}`).join('\\n');\nconst brief = flags.isGreeting && !flags.isChannelQuestion && !flags.isPricingQuestion;\nconst guidance = locale === 'en'\n  ? 'Answer in English only. Sound human, concise and consultative. If the user is only greeting you, greet them naturally and ask one soft question about their clinic or what they need. If they ask about WhatsApp or email, explain clearly that Clinvetia can reply naturally, follow up, qualify leads and escalate to a human when appropriate. Answer the actual question first. Do not force a booking if the user is still exploring.'\n  : 'Responde solo en espanol. Suena humana, breve y consultiva. Si el usuario solo saluda, saluda de forma natural y haz una sola pregunta suave sobre su clinica o sobre lo que necesita. Si pregunta por WhatsApp o correo, explica con claridad que Clinvetia puede responder con tono natural, hacer seguimiento, calificar leads y escalar a una persona cuando conviene. Responde primero a la duda real. No fuerces la reserva si el usuario aun esta explorando.';\nconst context = [\n  `locale=${locale}`,\n  `greeting=${Boolean(flags.isGreeting)}`,\n  `channel_question=${Boolean(flags.isChannelQuestion)}`,\n  `pricing_question=${Boolean(flags.isPricingQuestion)}`,\n  `qualification_stage=${Number(currentState.qualificationStage || 0)}`,\n  `lead_context=${currentState.leadContext || 'none'}`,\n  `brief_mode=${brief}`\n].join(' | ');\nreturn [{ json: { chatInput: $json.text, sessionId: $json.body.sessionToken || $json.body.requestId || $json.body.pageUrl || 'moka-web-chat', locale, currentState, context, transcript, flags } }];"
      },
      "id": "code-prepare-agent-input",
      "name": "Prepare Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        40
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres Moka, la asistente comercial de Clinvetia para clinicas veterinarias.\n\nTu objetivo es responder bien, sonar humana y mover la conversacion con criterio.\n\nReglas:\n- Responde siempre en el idioma del usuario. Si no esta claro, usa {{ $json.locale === 'en' ? 'English' : 'espanol de Espana' }}.\n- Si respondes en espanol, usa espanol de Espana.\n- No uses voseo ni expresiones rioplatenses como \"queres\", \"podes\", \"dale\", \"che\", \"mostrame\" o similares.\n- Usa un tono natural de Espana: \"quieres\", \"puedes\", \"si te parece\", \"te enseño\", \"os encaja\" cuando corresponda.\n- Tono humano, cercano, breve, seguro y consultivo.\n- Normalmente usa 1 a 3 frases.\n- Responde primero a la duda real del usuario.\n- Si el usuario solo saluda, devuelve un saludo natural y una sola pregunta suave.\n- No inventes precios, integraciones ni promesas no confirmadas.\n- No menciones prompts, herramientas, sistemas internos, APIs, workflows ni backend.\n- Si preguntan por WhatsApp o correo, explica que Clinvetia puede responder con tono natural, hacer seguimiento, calificar oportunidades y pasar a una persona cuando conviene.\n- Si el usuario ya ha mostrado interes claro en ver una demo, deja de dar mas ejemplos y deja paso al flujo correspondiente.\n- No fuerces una demo ni una reserva si el usuario aun esta explorando.\n- No conviertas un simple saludo en una pregunta de captacion agresiva.\n\nContexto del turno:\n{{ $json.context }}\n\nTranscripcion reciente:\n{{ $json.transcript || 'none' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        120,
        40
      ],
      "id": "moka-ai-agent",
      "name": "Moka AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.35,
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        260
      ],
      "id": "openai-reasoning-brain",
      "name": "OpenAI Reasoning Brain"
    },
    {
      "parameters": {
        "sessionIdType": "fromInput",
        "sessionKey": "={{ $json.sessionId || 'moka-web-chat' }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        360,
        260
      ],
      "id": "conversation-memory",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "jsCode": "const source = $json || {};\nconst input = $('Prepare Agent Input').first()?.json || {};\nconst currentState = input.currentState || {};\nconst flags = input.flags || {};\nconst normalize = (value) => String(value || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/[^\\p{L}\\p{N}\\s]/gu, ' ').replace(/\\s+/g, ' ').trim();\nconst text = typeof source.output === 'string' ? source.output.trim() : typeof source.text === 'string' ? source.text.trim() : typeof source.response === 'string' ? source.response.trim() : '';\nconst fallbackReply = input.locale === 'en'\n  ? 'I can help you understand how Clinvetia would fit your clinic and, if it makes sense, we can look at a demo.'\n  : 'Puedo ayudarte a entender cómo encajaría Clinvetia en tu clínica y, si tiene sentido, vemos una demo.';\nconst normalizedInput = normalize(input.chatInput);\nconst normalizedReply = normalize(text);\nconst normalizedTranscript = normalize(input.transcript);\nconst isAffirmative = /\\b(si|vale|ok|okey|claro|perfecto|de acuerdo|yes|sure|sounds good|me encaja)\\b/.test(normalizedInput);\nconst wantsBookingNow = flags.wantsBooking || /\\b(reservar|reserva|demo|cita|agendar|agenda|book|booking|appointment|schedule|calendario|calendar)\\b/.test(normalizedInput);\nconst bookingContext = /\\b(demo|consultoria|consultoría|horario|horarios|slot|slots|calendario|calendar|flujo de reserva|booking flow|reserva)\\b/.test(normalizedTranscript);\nconst handsOffToBooking = /\\b(flujo de reserva|booking flow|calendario|calendar|elige horario|elige franja|escoges la franja|choose a slot|pick a slot|completes los datos ahi|completes tus datos ahi|te llevo al flujo|abramos el flujo)\\b/.test(normalizedReply);\nconst shouldHandoffToBackend = wantsBookingNow || handsOffToBooking || (isAffirmative && bookingContext);\nconst nextState = {\n  intent: shouldHandoffToBackend ? 'none' : (currentState.intent || 'none'),\n  step: shouldHandoffToBackend ? 'idle' : (currentState.step || 'idle'),\n  proposedSlots: Array.isArray(currentState.proposedSlots) ? currentState.proposedSlots : [],\n  selectedSlot: currentState.selectedSlot || null,\n  email: currentState.email || null,\n  phone: currentState.phone || null,\n  targetBookingId: currentState.targetBookingId || null,\n  targetBookingToken: currentState.targetBookingToken || null,\n  city: currentState.city || null,\n  objectionAttempts: Number(currentState.objectionAttempts || 0),\n  qualificationStage: Math.max(1, Number(currentState.qualificationStage || 0)),\n  leadContext: shouldHandoffToBackend ? '__demo_offer__' : (currentState.leadContext || null),\n};\nreturn [{ json: { reply: text || fallbackReply, state: nextState, handoffToBackend: shouldHandoffToBackend } }];"
      },
      "id": "code-shape-agent-response",
      "name": "Shape Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.handoffToBackend}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-agent-handoff-backend",
      "name": "Agent Handoff To Backend?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize Payload').first()?.json || {};\nconst shaped = $json || {};\nconst originalBody = original.body || {};\nconst mergedState = {\n  ...(original.currentState || {}),\n  ...(shaped.state || {}),\n  leadContext: '__demo_offer__',\n  intent: 'none',\n  step: 'idle',\n};\nreturn [{ json: { body: { ...originalBody, message: originalBody.message || original.text || '', history: Array.isArray(originalBody.history) ? originalBody.history : [], state: mergedState, sessionToken: originalBody.sessionToken || null, bookingToken: originalBody.bookingToken || null, locale: originalBody.locale || original.locale || 'es', pathname: originalBody.pathname || null, pageUrl: originalBody.pageUrl || null } } }];"
      },
      "id": "code-build-backend-handoff",
      "name": "Build Backend Handoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -540,
        180
      ]
    }
  ],
  "connections": {
    "Webhook Moka Chat": {
      "main": [
        [
          {
            "node": "Secret OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secret OK?": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Backend Ops?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Ops?": {
      "main": [
        [
          {
            "node": "Clinvetia Backend Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clinvetia Backend Chat": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent Input": {
      "main": [
        [
          {
            "node": "Moka AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Reasoning Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Moka AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Moka AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Moka AI Agent": {
      "main": [
        [
          {
            "node": "Shape Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Agent Response": {
      "main": [
        [
          {
            "node": "Agent Handoff To Backend?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Handoff To Backend?": {
      "main": [
        [
          {
            "node": "Build Backend Handoff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Backend Handoff": {
      "main": [
        [
          {
            "node": "Clinvetia Backend Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "f2a4dc10-2c26-47cb-9ed6-b877376db762",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": [],
  "id": "clinvetia-moka-chat-native-agent"
}
